.env
/backend/node_modules
/frontend/node_modules
/backend/dist
/frontend/dist
/backend/.env
/frontend/.env
/backend/.DS_Store
/frontend/.DS_Store
/backend/.vscode
/frontend/.vscode
/backend/.idea
/frontend/.idea
/backend/.eslintcache
/frontend/.eslintcache
/backend/.prettiercache
/frontend/.prettiercache
/backend/.next
/frontend/.next
/backend/.nuxt
/frontend/.nuxt
/backend/.cache
/frontend/.cache
/backend/.parcel-cache
/frontend/.parcel-cache
/backend/.yarn
/frontend/.yarn
/backend/.yarnrc
/frontend/.yarnrc
/backend/.yarnrc.yml
/frontend/.yarnrc.yml
/backend/.yarnrc.js
/frontend/.yarnrc.js
/backend/.npm
/frontend/.npm
/backend/.npmrc
/frontend/.npmrc
/backend/.eslintignore
/frontend/.eslintignore
/backend/.prettierignore
._DS_Store
.DS_Store
Thumbs.db